<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>
            Projects
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let project of taskService.projectList" detail (click)="SelectProject(project)">
            <ion-label>{{project.title}}</ion-label>
            <ion-note slot="end">{{project.items.length}}</ion-note>
        </ion-item>
    </ion-list>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="AddProject()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>