<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>
            Projects
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of taskService.projectList" detail>
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="AddProject()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>